<section id="home">
    <h2>Make Your Day</h2>
    <h4>Real People. Real Videos.</h4>
    <div id="carousel-videos">
        <div class="video">
            <video webkit-playsinline="true" playsinline="" loop="" src="https://v19.muscdn.com/eb5c3d7012bb4394dfa43689198f4ab1/5e653e71/video/tos/useast2a/tos-useast2a-ve-0068c001/e547a691b6834718a39081a6c72fd9d8/?a=1233&br=1616&bt=808&cr=0&cs=0&dr=0&ds=3&er=&l=202003081250160101101021610F12EE75&lr=tiktok_m&qs=0&rc=MztocXI6bnl3czMzZDczM0ApNzVkZWc5ZDs0N2Y8NzNnaGcyZC9nX2UwaGVfLS0xMTZzczUzNTVhYDYuY2FfYTAzNmM6Yw%3D%3D&vl=&vr="></video>
            <div class="video-bottom">
                <span class="avatar"><img src="/images/myAvatar.png" /></span>
                <span class="likes">
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjMxNzEgNy41NzUzOEMxMi42MzE3IDcuNzcxMDIgMTIuNjMxNyA4LjIyODk4IDEyLjMxNzEgOC40MjQ2Mkw0LjAxNDAxIDEzLjU4NzFDMy42ODA5NSAxMy43OTQyIDMuMjUgMTMuNTU0NyAzLjI1IDEzLjE2MjVWMi44Mzc0N0MzLjI1IDIuNDQ1MjggMy42ODA5NSAyLjIwNTc3IDQuMDE0MDEgMi40MTI4NUwxMi4zMTcxIDcuNTc1MzhaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K" class="jsx-1543915374 like-icon">
                    <label>178.4K</label>
                </span>
            </div>
        </div>
        <div class="video">
            <video webkit-playsinline="true" playsinline="" loop="" src="https://v19.muscdn.com/eb5c3d7012bb4394dfa43689198f4ab1/5e653e71/video/tos/useast2a/tos-useast2a-ve-0068c001/e547a691b6834718a39081a6c72fd9d8/?a=1233&br=1616&bt=808&cr=0&cs=0&dr=0&ds=3&er=&l=202003081250160101101021610F12EE75&lr=tiktok_m&qs=0&rc=MztocXI6bnl3czMzZDczM0ApNzVkZWc5ZDs0N2Y8NzNnaGcyZC9nX2UwaGVfLS0xMTZzczUzNTVhYDYuY2FfYTAzNmM6Yw%3D%3D&vl=&vr="></video>
            <div class="video-bottom">
                <span class="avatar"><img src="/images/myAvatar1.png" /></span>
                <span class="likes">
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjMxNzEgNy41NzUzOEMxMi42MzE3IDcuNzcxMDIgMTIuNjMxNyA4LjIyODk4IDEyLjMxNzEgOC40MjQ2Mkw0LjAxNDAxIDEzLjU4NzFDMy42ODA5NSAxMy43OTQyIDMuMjUgMTMuNTU0NyAzLjI1IDEzLjE2MjVWMi44Mzc0N0MzLjI1IDIuNDQ1MjggMy42ODA5NSAyLjIwNTc3IDQuMDE0MDEgMi40MTI4NUwxMi4zMTcxIDcuNTc1MzhaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K" class="jsx-1543915374 like-icon">
                    <label>178.4K</label>
                </span>
            </div>
        </div>
        <div class="video">
            <video webkit-playsinline="true" playsinline="" loop="" src="https://v19.muscdn.com/eb5c3d7012bb4394dfa43689198f4ab1/5e653e71/video/tos/useast2a/tos-useast2a-ve-0068c001/e547a691b6834718a39081a6c72fd9d8/?a=1233&br=1616&bt=808&cr=0&cs=0&dr=0&ds=3&er=&l=202003081250160101101021610F12EE75&lr=tiktok_m&qs=0&rc=MztocXI6bnl3czMzZDczM0ApNzVkZWc5ZDs0N2Y8NzNnaGcyZC9nX2UwaGVfLS0xMTZzczUzNTVhYDYuY2FfYTAzNmM6Yw%3D%3D&vl=&vr="></video>
            <div class="video-bottom">
                <span class="avatar"><img src="/images/myAvatar2.png" /></span>
                <span class="likes">
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjMxNzEgNy41NzUzOEMxMi42MzE3IDcuNzcxMDIgMTIuNjMxNyA4LjIyODk4IDEyLjMxNzEgOC40MjQ2Mkw0LjAxNDAxIDEzLjU4NzFDMy42ODA5NSAxMy43OTQyIDMuMjUgMTMuNTU0NyAzLjI1IDEzLjE2MjVWMi44Mzc0N0MzLjI1IDIuNDQ1MjggMy42ODA5NSAyLjIwNTc3IDQuMDE0MDEgMi40MTI4NUwxMi4zMTcxIDcuNTc1MzhaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K" class="jsx-1543915374 like-icon">
                    <label>178.4K</label>
                </span>
            </div>
        </div>
        <div class="video">
            <video webkit-playsinline="true" playsinline="" loop="" src="https://v19.muscdn.com/eb5c3d7012bb4394dfa43689198f4ab1/5e653e71/video/tos/useast2a/tos-useast2a-ve-0068c001/e547a691b6834718a39081a6c72fd9d8/?a=1233&br=1616&bt=808&cr=0&cs=0&dr=0&ds=3&er=&l=202003081250160101101021610F12EE75&lr=tiktok_m&qs=0&rc=MztocXI6bnl3czMzZDczM0ApNzVkZWc5ZDs0N2Y8NzNnaGcyZC9nX2UwaGVfLS0xMTZzczUzNTVhYDYuY2FfYTAzNmM6Yw%3D%3D&vl=&vr="></video>
            <div class="video-bottom">
                <span class="avatar"><img src="/images/myAvatar3.png" /></span>
                <span class="likes">
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjMxNzEgNy41NzUzOEMxMi42MzE3IDcuNzcxMDIgMTIuNjMxNyA4LjIyODk4IDEyLjMxNzEgOC40MjQ2Mkw0LjAxNDAxIDEzLjU4NzFDMy42ODA5NSAxMy43OTQyIDMuMjUgMTMuNTU0NyAzLjI1IDEzLjE2MjVWMi44Mzc0N0MzLjI1IDIuNDQ1MjggMy42ODA5NSAyLjIwNTc3IDQuMDE0MDEgMi40MTI4NUwxMi4zMTcxIDcuNTc1MzhaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K" class="jsx-1543915374 like-icon">
                    <label>178.4K</label>
                </span>
            </div>
        </div>
        <div class="video">
            <video webkit-playsinline="true" playsinline="" loop="" src="https://v19.muscdn.com/eb5c3d7012bb4394dfa43689198f4ab1/5e653e71/video/tos/useast2a/tos-useast2a-ve-0068c001/e547a691b6834718a39081a6c72fd9d8/?a=1233&br=1616&bt=808&cr=0&cs=0&dr=0&ds=3&er=&l=202003081250160101101021610F12EE75&lr=tiktok_m&qs=0&rc=MztocXI6bnl3czMzZDczM0ApNzVkZWc5ZDs0N2Y8NzNnaGcyZC9nX2UwaGVfLS0xMTZzczUzNTVhYDYuY2FfYTAzNmM6Yw%3D%3D&vl=&vr="></video>
            <div class="video-bottom">
                <span class="avatar"><img src="/images/myAvatar4.png" /></span>
                <span class="likes">
                    <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjMxNzEgNy41NzUzOEMxMi42MzE3IDcuNzcxMDIgMTIuNjMxNyA4LjIyODk4IDEyLjMxNzEgOC40MjQ2Mkw0LjAxNDAxIDEzLjU4NzFDMy42ODA5NSAxMy43OTQyIDMuMjUgMTMuNTU0NyAzLjI1IDEzLjE2MjVWMi44Mzc0N0MzLjI1IDIuNDQ1MjggMy42ODA5NSAyLjIwNTc3IDQuMDE0MDEgMi40MTI4NUwxMi4zMTcxIDcuNTc1MzhaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K" class="jsx-1543915374 like-icon">
                    <label>178.4K</label>
                </span>
            </div>
        </div>
    </div>
</section>