<section id="home">
    
    <h2>Make Your Day</h2>
    <h4>Real People. Real Videos.</h4>
    
    <div class="flex flex-wrap mt-10">
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 bg-black p-0 m-0">
        <video class="p-0 m-0 w-full" muted="true" playsinline="true" loop="true" src="https://res.cloudinary.com/dhbdegxsz/video/upload/v1583714378/video1_ywtnvx.mp4"></video>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 bg-black p-0 m-0">
        <video class="p-0 m-0 w-full" muted="true" playsinline="true" loop="true" src="https://res.cloudinary.com/dhbdegxsz/video/upload/v1583714371/video2_ghksju.mp4"></video>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 bg-black p-0 m-0">
        <video class="p-0 m-0 w-full" muted="true" playsinline="true" loop="true" src="https://res.cloudinary.com/dhbdegxsz/video/upload/v1583714557/video3_kzpbwu.mp4"></video>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 bg-black p-0 m-0">
        <video class="p-0 m-0 w-full" muted="true" playsinline="true" loop="true" src="https://res.cloudinary.com/dhbdegxsz/video/upload/v1583715527/video4_r5vhwo.mp4"></video>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 bg-black p-0 m-0">
        <video class="p-0 m-0 w-full" muted="true" playsinline="true" loop="true" src="https://res.cloudinary.com/dhbdegxsz/video/upload/v1583715740/video5_lp0wkr.mp4"></video>
      </div>
    </div>

</section>